<!DOCTYPE html>
<html>
	<head>
		<link href="//fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="style.css" />
	</head>
	
	<body data-ng-app="Todo">
		<div class="page-container" data-ng-controller="TodoCtrl">
			<h2> SaiGo's TODO list </h2>
			<span> {{ message }} </span>
			<br>
			<ul class="todo-list" data-ng-repeat="todo in todos track by $index">
				<li>
					<span> {{ todo }} </span>
					<button class="bt bt-achieve" data-ng-click="done(todo)"> Done</button>
				</li>
			</ul>
		
			<ul class="add-todo">
				<li>
					<input type="text" 
						class="txt" 
						placeholder="New Todo"
						data-ng-model="newTodo" 
						data-ng-keyup="add($event)" />
				</li>
			</ul>
		</div>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"> </script>
		<script src="script.js"></script>
	</body>
	
</html>
